[user]
	name = Young Seok Tony Kim
	email = 93mighty@gmail.com
[alias]
	lg = log --all --oneline --decorate --graph 
	gl = log --all --oneline --decorate --graph
[push]
	default = simple
[core]
	excludesfile = /Users/tonykim/.gitignore_global
	editor = vim
[color]
    ui = auto
