[user]
	name = Young Seok Tony Kim
	email = 93mighty@gmail.com
[alias]
	lg = log --all --oneline --decorate --graph --color
	gl = log --all --oneline --decorate --graph --color
[push]
	default = simple
